body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.smallText {
  font-size: 12px;
}

.normalText {
  font-size: 14px;
  font-weight: 800;
}

.icon {
  font-size: 35px;
  color: #aeaeae;
  font-weight: 900;
}

.dark-blue {
  color: #512ec4;
}

.editor-frame {
  width: 50%;
  margin: 0 auto;
}

.editor-form {
  margin-top: 1rem;
  outline: none;
  border-bottom: 1px solid #f3eaea;
}

.select-menu {
  width: 270px;
  background: #fff;
  border-radius: 3px;
  padding: 10px 0;
}

.time-post {
  background: #cffae7;
  color: #35967a;
}

.place-holder {
  font-size: 12px;
  font-weight: 600;
  color: #b6b1b1;
}

.grayText {
  color: #c8c6c6;
}